  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/profiles/<%= user.profile._id %>">
        <img id="nav-profile-img"
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
        />
      </a>
      <a href="/auth/logout">
        <button id="logout-btn" type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
    <h1 id="main-title">Gamers Assemble</h1>
    <div id="nav-a">
      <a href="/lfgs" <%- title === 'All LFGs' ? 'class="active"' : '' %>   
        >
        All LFGs
      </a>
      <a href="/lfgs/new" <%- title === 'Create LFG' ? 'class="active"' : '' %> 
        >
        Create LFG
      </a>
      <a href="/games/new" <%- title === 'Add Game'  ? 'class="active"' : '' %>  
        >
        Add Game
      </a>
    </div>
  </nav>
