<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Welcome to the profile index. Hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <% if (!profile.gamerTag) { %> 
  <form action="/profiles/<%= profile._id %>?_method=PATCH" method="POST">
    <label for="steam-input">Steam-Username: </label>
    <input type="text" name="gamerTag" id="steam-input">
    <button type="submit">Enter</button>
  </form>
  <% } else { %> 
    <label for="steam-display">Steam-Username: </label>
    <div id="steam-display"><%= profile.gamerTag %></div>
  <% } %> 
</main>

<%- include('../partials/footer') %>