<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/all-lfg-media.css">
<%- include('../partials/nav') %>

<main>
  <h1 class="h1-title"><%= user ? user.profile.name : "Please sign in" %></h1>
  <div id="profile-div">
  <% if (user?.profile.avatar) { %>
      <img
        id="profile-div-img"
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
      <% } %>
      <% if (!profile.gamerTag) { %> 
        <form action="/profiles/<%= profile._id %>?_method=PATCH" method="POST">
          <label for="steam-input">Steam-Username: </label>
          <input type="text" name="gamerTag" id="steam-input">
          <button id="profile-enter-btn" type="submit">Enter</button>
        </form>
        <% } else { %> 
          <label for="steam-display">Steam-Username: </label>
          <div id="steam-display"><%= profile.gamerTag %></div>
        <% } %> 
  </div>
</main>

<%- include('../partials/footer') %>