<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div id="lfg-post" class="card" style="width: 18rem;">
    <% lfgs.forEach(lfg => { %>
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= lfg.name %></h5>
      <h6 class="card-subtitle"><%= lfg.game.name %></h6>
      <p class="card-text"><%= lfg.content %></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>
