<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div id="lfg-post" class="card" style="width: 18rem;">
    <% lfgs.forEach(lfg => { %>
    <img src="..." class="card-img-top" alt="...">
    <a id="card-a" href="/lfgs/<%= lfg._id %>">
      <div class="card-body">
        <h5 id="card-title" class="card-text"><%= lfg.name %></h5>
        <h6 id="card-subtitle" class="card-text"><%= lfg.game.name %></h6>
        <h5>Posted by: <%= lfg.owner.name %></h5>
      </div>
    </a>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>
