<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1 class="h1-title"><%= title %></h1>
  <div id="card-container">
    <% lfgs.forEach(lfg => { %>
    <div id="lfg-post" class="card">
      <a id="card-a" href="/lfgs/<%= lfg._id %>">
        <div class="card-body">
          <h5 id="card-title" class="card-text"><%= lfg.name %></h5>
          <div id="card-subtitle">
            <h6 class="card-text">Posted by: <%= lfg.owner.name %></h6>
            <h6 class="card-text">Game: <%= lfg.game.name %></h6>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>
