<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<!-- <main> -->
  <!-- <% lfgs.forEach(lfg => { %> -->
  <!-- <div id="lfg-post" class="card"> -->
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <!-- <a id="card-a" href="/lfgs/<%= lfg._id %>"> -->
      <!-- <div class="card-body"> -->
        <!-- <h5 id="card-title" class="card-text"><%= lfg.name %></h5> -->
        <!-- <div id="card-subtitle"> -->
          <!-- <h6 class="card-text">Game: <%= lfg.game.name %></h6> -->
          <!-- <h6 class="card-text">Posted by: <%= lfg.owner.name %></h6> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </a> -->
  <!-- </div> -->
  <!-- <% }) %> -->
<!-- </main> -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div> 
    <% lfgs.forEach(lfg => { %>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
        <h1><%= lfg.name %></h1>
      </div>
      <% }) %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<%- include('../partials/footer') %>
