<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <label for="game-display">Game: </label>
  <div id="game-display"><%= lfg.game.name %></div>
  <label for="playerNo-display">Players needed: </label>
  <div id="playerNo-display"><%= lfg.playerNo %></div>
  <label for="lfg-description">Description: </label>
  <div id="lfg-description"><%= lfg.content %></div>
  <% if (lfg.owner.equals(user?.profile._id)) { %> 
  <ul>
    <% lfg.playerReplies.forEach(reply => { %>
      <li><%= reply %></li>
    <% }) %>
  </ul>
  <% } %> 
  <% if (lfg.owner.equals(user?.profile._id)) { %> 
  <form action="/lfgs/<%= lfg._id %>/edit" method="GET">
    <button id="edit-button">Edit</button>
  </form>
  <form action="/lfgs/<%= lfg._id %>?_method=DELETE" method="POST">
    <button id="delete-button">Delete</button>
  </form>
  <% } else if (lfg.playerNo !== 0){ %>
    <form action="/lfgs/<%= lfg._id %>/replies" method="POST">
    <button id="join-button">Join</button>
    </form>
  <% } %>
  <a href="/lfgs">
    <button>Back</button>
  </a>

</main>

<%- include('../partials/footer') %>
